@import "../../styles/helpers/variables.scss";
@import "../../styles/helpers/mixins.scss";

.page-housingList{

    &-search{
        padding: 10px;

        svg{
            color: $color-dark0;
        }
    }

    &-list{
        padding: 10px;
        
        &-item{
            position: relative;
            display: block;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid $color-dark6;

            &:first-child{
                padding-top: 30px;
            }
            
            .block-link{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: block;
            }
            
            &-images{
                width: 100%;
                margin-bottom: 5px;
                position: relative;
            }

            &-body{
                height: 100%;
                width: 100%;
                
                &-header{
                    display: flex;

                    &-rating{
                        display: flex;
                        align-items: center;
                        margin-left: auto;
                    }
                }

                &-title{
                    font-weight: 600;
                    margin-bottom: 15px;
                }

                &-info{
                    display: flex;
                    flex-wrap: wrap;

                    span{
                        margin: 0 2px;
                    }
                }
            }
        }
    }

    @include tablet{
        &-list{
            &-item{
                display: flex;
    
                &-images{
                    width: 300px;
                    margin-right: 15px;
                    margin-bottom: 0;
                }
            }
        }
    }
    

    
}