@import "../../styles/helpers/variables.scss";

.BookingPicker{

    display: flex;
    justify-content: center;

    .DayPicker-Day{

        &--alreadyBooked{
            text-decoration: line-through;
            color: $color-error;
            opacity: .3;
        }

        &--disabled{
            // pointer-events: none;
        }
    }

    // .Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    //     background-color: #f0f8ff !important;
    //     color: #4a90e2;
    // }
    // .Range .DayPicker-Day {
    //  border-radius: 0 !important;
    // }
}

